In [1]:
import pandas as pd

In [2]:
# Abrindo uma planilha
df = pd.read_excel("/home/david/python/pandas/dados/campeonato_brasileiro.xlsx")
df

,Unnamed: 0,Times,Partidas_jogadas,Vitorias,Empates,Derrotas,Gols_pro,Gols_contra,Saldo_gols,Pontos
0,0,Flamengo,10,7,2,1,22,10,12,23
1,2,São Paulo,10,6,1,3,16,15,1,19
2,1,Palmeiras,10,5,3,2,18,12,6,18
3,3,Santos,10,4,3,3,14,16,-2,15
4,4,Corinthians,10,3,2,5,10,20,-10,11

In [4]:
# verificando os tipos
df.dtypes

Unnamed: 0           int64
Times               object
Partidas_jogadas     int64
Vitorias             int64
Empates              int64
Derrotas             int64
Gols_pro             int64
Gols_contra          int64
Saldo_gols           int64
Pontos               int64
dtype: object

In [7]:
# Estatísticas
df.describe()

,Unnamed: 0,Partidas_jogadas,Vitorias,Empates,Derrotas,Gols_pro,Gols_contra,Saldo_gols,Pontos
count,5.000000,5.0,5.000000,5.00000,5.00000,5.000000,5.000000,5.000000,5.000000
mean,2.000000,10.0,5.000000,2.20000,2.80000,16.000000,14.600000,1.400000,17.200000
std,1.581139,0.0,1.581139,0.83666,1.48324,4.472136,3.847077,8.294577,4.494441
min,0.000000,10.0,3.000000,1.00000,1.00000,10.000000,10.000000,-10.000000,11.000000
25%,1.000000,10.0,4.000000,2.00000,2.00000,14.000000,12.000000,-2.000000,15.000000
50%,2.000000,10.0,5.000000,2.00000,3.00000,16.000000,15.000000,1.000000,18.000000
75%,3.000000,10.0,6.000000,3.00000,3.00000,18.000000,16.000000,6.000000,19.000000
max,4.000000,10.0,7.000000,3.00000,5.00000,22.000000,20.000000,12.000000,23.000000